{% extends "base.html" %}


{% block content %}
  <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Sepetim</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">Anasayfa</a></li>
                    <li class="active">Sepetim</li>
                </ul>
            </div>
        </div>

    <section id="content" class="gray-area">
            <div class="container">
                      <div class="col-lg-9 listing-style3 flight">

                        </div>


                <div class="row">
                    <div id="main" class="col-sms-6 col-sm-8 col-md-9 listing-style3 flight">

                            {% for object in sepet_list %}
                             <article class="box">
                                <figure class="col-xs-3 col-sm-2">
                                    <span><img alt="" src="http://placehold.it/270x160"></span>
                                </figure>
                                <div class="details col-xs-9 col-sm-10">
                                    <div class="details-wrapper">
                                        <div class="first-row">
                                            <div>
                                                <h4 class="box-title">{{ object.field.name }}<small>Oneway flight</small></h4>
                                                <a class="button btn-mini yellow">11.00-12.00</a>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-entertainment circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-suitcase circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="price"><small>AVG/PERSON</small>₺ {{ object.field.price }}</span>
                                            </div>
                                        </div>
                                        <div class="second-row">
                                            <div class="time">
                                                <div class="take-off col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">Take off</span><br />Wed Nov 13, 2013 7:50 Am
                                                    </div>
                                                </div>
                                                <div class="landing col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">landing</span><br />Wed Nov 13, 2013 9:20 am
                                                    </div>
                                                </div>
                                                <div class="total-time col-sm-4">
                                                    <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">total time</span><br />13 Hour, 40 minutes
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <form method="POST" action="{% url "sepet-delete" object.id %}">
                                                    {% csrf_token %}
                                                <button type="submit" class="button btn-small full-width">SEPETTEN ÇIKAR</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        <div class="row">
                            <form action="">
                                {% for object in address_list %}

                                    <div class="col-sm-6">
                                <div class="icon-box style5 box" id="hotel-description">

                                    <i class="soap-icon-user"></i>
                                    <div class="description">
                                        <h4><a href="#">{{ object.title }} </a></h4>

                                    </div>

                                     <div class="features table-cell" >
                                              <ul class="adres-form-bilgi">
                                                <li><label>Ad-Soyad:</label>{{ object.firstName }} {{ object.lastName }}</li>
                                                <li><label>Email:</label>{{ object.email}}</li>

                                                <li><label>Telefon:</label>{{ object.phone_number}}</li>
                                                <li><label>Lokasyon:</label>{{ object.city}}  {{ object.ilce}}</li>
                                                <li><label>Adres:</label>{{ object.address}}</li>



                                            </ul>
                                        </div>
                                    <div class="description" >

                                        <input type="radio" name="gender" value="male">
                                        <h3 class="box-title">Adresi Seç   > </h3>

                                    </div>

                                </div>
                            </div>


                                {% endfor %}
</form></div>

                        <div class="booking-section travelo-box">

                            <form class="booking-form">
                                <div class="person-information">
                                    <h2>Your Personal Information</h2>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>first name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>last name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>email address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Verify E-mail Address</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Country code</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>United Kingdom (+44)</option>
                                                    <option>United States (+1)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Phone number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> I want to receive <span class="skin-color">Travelo</span> promotional offers in the future
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="card-information">
                                    <h2>Your Card Information</h2>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Credit Card Type</label>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>select a card</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Card holder name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Card number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <label>Card identification number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-5">
                                            <label>Expiration Date</label>
                                            <div class="constant-column-2">
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>month</option>
                                                    </select>
                                                </div>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option>year</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-2">
                                            <label>billing zip code</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> By continuing, you agree to the <a href="#"><span class="skin-color">Terms and Conditions</span></a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <button type="submit" class="full-width btn-large">CONFIRM BOOKING</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                        <div class="booking-details travelo-box">
                            <h4>Booking Details</h4>
                            <article class="image-box hotel listing-style1">
                                <figure class="clearfix">
                                    <a href="hotel-detailed.html" class="hover-effect middle-block"><img class="middle-item" width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                                    <div class="travel-title">
                                        <h5 class="box-title">Hotel Hilton<small>Paris france</small></h5>
                                        <a href="hotel-detailed.html" class="button">EDIT</a>
                                    </div>
                                </figure>
                                <div class="details">
                                    <div class="feedback">
                                        <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                        <span class="review">270 reviews</span>
                                    </div>
                                    <div class="constant-column-3 timing clearfix">
                                        <div class="check-in">
                                            <label>Check in</label>
                                            <span>NOV 30, 2013<br />11 AM</span>
                                        </div>
                                        <div class="duration text-center">
                                            <i class="soap-icon-clock"></i>
                                            <span>2 Nights</span>
                                        </div>
                                        <div class="check-out">
                                            <label>Check out</label>
                                            <span>DEC 02, 2013<br />2 PM</span>
                                        </div>
                                    </div>
                                    <div class="guest">
                                        <small class="uppercase">1 Standard family room for <span class="skin-color">3 Persons</span></small>
                                    </div>
                                </div>
                            </article>

                            <h4>Other Details</h4>
                            <dl class="other-details">
                                <dt class="feature">room Type:</dt><dd class="value">Standard Family</dd>
                                <dt class="feature">per Room price:</dt><dd class="value">$121</dd>
                                <dt class="feature">2 night Stay:</dt><dd class="value">$242</dd>
                                <dt class="feature">taxes and fees:</dt><dd class="value">$10</dd>
                                <dt class="total-price">Total Price</dt><dd class="total-price-value">$252</dd>
                            </dl>
                        </div>

                        <div class="travelo-box contact-box">
                            <h4>Need Travelo Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br>
                                <a class="contact-email" href="#">help@travelo.com</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}