{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript">
        tjq(document).ready(function() {
            tjq("#price-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ 100, 800 ],
                slide: function( event, ui ) {
                    tjq(".min-price-label").html( "$" + ui.values[ 0 ]);
                    tjq(".max-price-label").html( "$" + ui.values[ 1 ]);
                }
            });
            tjq(".min-price-label").html( "$" + tjq("#price-range").slider( "values", 0 ));
            tjq(".max-price-label").html( "$" + tjq("#price-range").slider( "values", 1 ));

            tjq("#rating").slider({
                range: "min",
                value: 40,
                min: 0,
                max: 50,
                slide: function( event, ui ) {

                }
            });
        });
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <script type="text/javascript">

 jQuery(document).ready(function() {

     var FieldList = [];
     var nextFieldUrl;
     var initialURL = "/api/field";
     var FieldContainer = $(".listing-style1");
     var orderName = $(".sort-bar li.active").index()
     var min;
     var max;
     var searchAgain;
     var listtype = 1 ;



    function attachField(fieldValue,prepend) {

       var fieldPrice  = fieldValue.price;
       var fieldName = fieldValue.name;
       var fieldCity = fieldValue.city;
       var fieldDesc = fieldValue.desc;
       var fieldUrl = fieldValue.url;
       var fieldFormattedHtml ;

        if(listtype == 1){

        fieldFormattedHtml =  " <div class=\"col-sm-6 col-md-4\">  <article class=\"box\"><figure>\n" +
            "                                                <a href=\"ajax/slideshow-popup.html\" class=\"hover-effect popup-gallery\"><img width=\"270\" height=\"160\" alt=\"\" src=\"http://placehold.it/270x160\"></a>\n" +
            "                                            </figure>\n" +
            "                                            <div class=\"details\">\n" +
            "                                                <span class=\"price\">\n" +
            "                                                    <small>avg/night </small>\n" +
            "                                                   "+fieldPrice+" ₺\n" +
            "                                                </span>\n" +
            "                                                <h4 class=\"box-title\">"+fieldName+"<small>"+fieldValue.city+"</small></h4>\n" +
            "                                                <div class=\"feedback\">\n" +
            "                                                    <div data-placement=\"bottom\" data-toggle=\"tooltip\" class=\"five-stars-container\" title=\"4 stars\"><span style=\"width: 80%;\" class=\"five-stars\"></span></div>\n" +
            "                                                    <span class=\"review\">270 reviews</span>\n" +
            "                                                </div>\n" +
            "                                                <p class=\"description\">\""+fieldValue.desc+"\"</p>\n" +
            "                                                <div class=\"action\">\n" +
            "                                                    <a class=\"button btn-small\" href=\""+fieldUrl+"\">İncele</a>\n" +
            "                                                    <a class=\"button btn-small yellow popup-map\" href=\"#\" data-box=\"48.856614, 2.352222\">VIEW ON MAP</a>\n" +
            "                                                </div>\n" +
            "                                            </div>\n" +
            "                                        </article>\n" +
            "                                    </div>\n" +
            "                                   ";
        }else if (listtype == 0){
        fieldFormattedHtml = "<article class=\"box\">\n" +
            "                                    <figure class=\"col-sm-5 col-md-4\">\n" +
            "                                        <a title=\"\" href=\"ajax/slideshow-popup.html\" class=\"hover-effect popup-gallery\"><img width=\"270\" height=\"160\" alt=\"\" src=\"http://placehold.it/270x160\"></a>\n" +
            "                                    </figure>\n" +
            "                                    <div class=\"details col-sm-7 col-md-8\">\n" +
            "                                        <div>\n" +
            "                                            <div>\n" +
            "                                                <h4 class=\"box-title\">"+fieldName+"<small><i class=\"soap-icon-departure yellow-color\"></i> "+fieldCity+"</small></h4>\n" +
            "                                                <div class=\"amenities\">\n" +
            "                                                    <i class=\"soap-icon-wifi circle\"></i>\n" +
            "                                                    <i class=\"soap-icon-fitnessfacility circle\"></i>\n" +
            "                                                    <i class=\"soap-icon-fork circle\"></i>\n" +
            "                                                    <i class=\"soap-icon-television circle\"></i>\n" +
            "                                                </div>\n" +
            "                                            </div>\n" +
            "                                            <div>\n" +
            "                                                <div class=\"five-stars-container\">\n" +
            "                                                    <span class=\"five-stars\" style=\"width: 80%;\"></span>\n" +
            "                                                </div>\n" +
            "                                                <span class=\"review\">270 reviews</span>\n" +
            "                                            </div>\n" +
            "                                        </div>\n" +
            "                                        <div>\n" +
            "                                            <p>"+fieldDesc+"</p>\n" +
            "                                            <div>\n" +
            "                                                <span class=\"price\"><small>AVG/NIGHT</small>"+fieldPrice+" ₺</span>\n" +
            "                                                <a class=\"button btn-small full-width text-center\" title=\"\" href=\""+fieldUrl+"\">İncele</a>\n" +
            "                                            </div>\n" +
            "                                        </div>\n" +
            "                                    </div>\n" +
            "                                </article>"
            }else {

            fieldFormattedHtml = "<div class=\"col-sms-6 col-sm-6 col-md-4\">\n" +
                "                                        <article class=\"box\">\n" +
                "                                            <figure>\n" +
                "                                                <a href=\"ajax/slideshow-popup.html\" title=\"\" class=\"hover-effect popup-gallery\"><img src=\"http://placehold.it/270x160\" alt=\"\" width=\"270\" height=\"160\"></a>\n" +
                "                                            </figure>\n" +
                "                                            <div class=\"details\">\n" +
                "                                                <a title=\"View all\" href=\""+fieldUrl+"\" class=\"pull-right button uppercase\">incele</a>\n" +
                "                                                <h4 class=\"box-title\">"+fieldName+"</h4>\n" +
                "                                                <label class=\"price-wrapper\">\n" +
                "                                                    <span class=\"price-per-unit\">"+fieldPrice+" ₺</span>avg/night\n" +
                "                                                </label>\n" +
                "                                            </div>\n" +
                "                                        </article>\n" +
                "                                    </div>"

        }



       if(prepend == true){
            FieldContainer.prepend(fieldFormattedHtml);
       }else{
            FieldContainer.append(fieldFormattedHtml);
       }



   }

      function parseFields(){
       if(FieldList == 0){
          FieldContainer.append("No fields currently found.")

       }else{
              $.each(FieldList,function (key,value) {
               var fieldKey = key;

                   attachField(value,false,true)



           });

       }
   }



    function fetchFields(url,searchAgain){
       var fetchUrl;
       if(!url){
            fetchUrl = initialURL
       }else{
            fetchUrl = url;
       }

        $.ajax({
            url: fetchUrl,
            data: {
                "order" : orderName,
                 "searchAgain": searchAgain
            },
            method: "GET",
            success: function (data) {
                 FieldList =  data.results;
                  if(data.next) {
                   nextFieldUrl = data.next
                   }else {
                     $("#loadmore").css("display","none")
                   }
                parseFields()
                console.log(data);

            }

        });
        }


     //Load More

        $("#loadmore").click(function(event){

            event.preventDefault();
            if(nextFieldUrl){
                fetchFields(nextFieldUrl)
            }

          });


          $("#search-again").click(function(event){

            event.preventDefault();
            min = $(".min-price-label").text().slice(1);
            max = $(".max-price-label").text().slice(1);



             $.ajax({
            url: "/api/field/",
            data: {

                 "min": min,
                 "max": max
            },
            traditional: true,
            method: "GET",
            success: function (data) {
                 FieldList =  data.results;
                  if(data.next) {
                   nextFieldUrl = data.next
                   }else {
                     $("#loadmore").css("display","none")
                   }
                    FieldContainer.children().remove();
                parseFields()
                console.log(data);

            }

        });



          });






      //Sort Part

     $(".sort-bar li").click(function(){
         $(".sort-bar li").removeClass("active");
         $(this).addClass("active");
         orderName = $(this).index()
         FieldContainer.children().remove();
         fetchFields()
         console.log("yazılıyor=>"+orderName);


     })

     // List style
      $(".swap-tiles li").click(function(){
         $(".swap-tiles li").removeClass("active");
         $(this).addClass("active");
         var listindex = $(this).index();

         if(listindex == 0){
          listtype=0;
           FieldContainer.attr('class', 'hotel-list listing-style3 hotel');
         }else if ( listindex == 1){
             listtype=1;
              FieldContainer.attr('class', 'row image-box hotel listing-style1');
         }else {
             listtype = 2;
              FieldContainer.attr('class', 'row image-box listing-style2');
         }

        FieldContainer.children().remove();


         fetchFields();
         console.log("listing=>");
      })






     fetchFields()

    });





    </script>

{% endblock %}
{% block content %}


  <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Search Results</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Hotel Search Results</li>
                </ul>
            </div>
        </div>
        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <h4 class="search-results-title"><i class="soap-icon-search"></i><b>{{  object_list.count }}</b> sonuç bulundu.</h4>
                            <div class="toggle-container filters-container">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                                    </h4>
                                    <div id="price-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <div id="price-range"></div>
                                            <br />
                                            <span class="min-price-label pull-left"></span>
                                            <span class="max-price-label pull-right"></span>
                                            <div class="clearer"></div>
                                        </div><!-- end content -->
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#rating-filter" class="collapsed">User Rating</a>
                                    </h4>
                                    <div id="rating-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <div id="rating" class="five-stars-container editable-rating"></div>
                                            <br />
                                            <small>2458 REVIEWS</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter" class="collapsed">Accomodation Type</a>
                                    </h4>
                                    <div id="accomodation-type-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><a href="#">All<small>(722)</small></a></li>
                                                <li><a href="#">Hotel<small>(982)</small></a></li>
                                                <li><a href="#">Resort<small>(127)</small></a></li>
                                                <li class="active"><a href="#">Bed &amp; Breakfast<small>(222)</small></a></li>
                                                <li><a href="#">Condo<small>(158)</small></a></li>
                                                <li><a href="#">Residence<small>(439)</small></a></li>
                                                <li><a href="#">Guest House<small>(52)</small></a></li>
                                            </ul>
                                            <a class="button btn-mini">MORE</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#amenities-filter" class="collapsed">Amenities</a>
                                    </h4>
                                    <div id="amenities-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><a href="#">Bathroom<small>(722)</small></a></li>
                                                <li><a href="#">Cable tv<small>(982)</small></a></li>
                                                <li class="active"><a href="#">air conditioning<small>(127)</small></a></li>
                                                <li class="active"><a href="#">mini bar<small>(222)</small></a></li>
                                                <li><a href="#">wi - fi<small>(158)</small></a></li>
                                                <li><a href="#">pets allowed<small>(439)</small></a></li>
                                                <li><a href="#">room service<small>(52)</small></a></li>
                                            </ul>
                                            <a class="button btn-mini">MORE</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#language-filter" class="collapsed">Host Language</a>
                                    </h4>
                                    <div id="language-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><a href="#">English<small>(722)</small></a></li>
                                                <li><a href="#">Español<small>(982)</small></a></li>
                                                <li class="active"><a href="#">Português<small>(127)</small></a></li>
                                                <li class="active"><a href="#">Français<small>(222)</small></a></li>
                                                <li><a href="#">Suomi<small>(158)</small></a></li>
                                                <li><a href="#">Italiano<small>(439)</small></a></li>
                                                <li><a href="#">Sign Language<small>(52)</small></a></li>
                                            </ul>
                                            <a class="button btn-mini">MORE</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
                                    </h4>
                                    <div id="modify-search-panel" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label>destination</label>
                                                    <input type="text" class="input-text full-width" placeholder="" value="Paris" />
                                                </div>
                                                <div class="form-group">
                                                    <label>check in</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>check out</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                                    </div>
                                                </div>
                                                <br />
                                                <button id="search-again" class="btn-medium icon-check uppercase full-width">search again</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="sort-by-section clearfix">
                                <h4 class="sort-by-title block-sm">Sort results by:</h4>
                                <ul class="sort-bar clearfix block-sm">
                                    <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
                                    <li class="sort-by-price active"><a class="sort-by-container" href="#"><span>price</span></a></li>
                                    <li class="clearer visible-sms"></li>
                                    <li class="sort-by-rating"><a class="sort-by-container" href="#"><span>rating</span></a></li>
                                    <li class="sort-by-popularity"><a class="sort-by-container" href="#"><span>popularity</span></a></li>
                                </ul>

                                <ul class="swap-tiles clearfix block-sm">
                                    <li class="swap-list">
                                        <a href="#"><i class="soap-icon-list"></i></a>
                                    </li>
                                    <li class="swap-grid active">
                                        <a href="#"><i class="soap-icon-grid"></i></a>
                                    </li>
                                    <li class="swap-block">
                                        <a href="#"><i class="soap-icon-block"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="hotel-list">
                                <div class="row image-box hotel listing-style1">
{#                                    {% for object in object_list %}#}
{#                                    <div class="col-sm-6 col-md-4">#}
{#                                        <article class="box">#}
{#                                            <figure>#}
{#                                                <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>#}
{#                                            </figure>#}
{#                                            <div class="details">#}
{#                                                <span class="price">#}
{#                                                    <small>avg/night </small>#}
{#                                                    {{ object.price }}₺#}
{#                                                </span>#}
{#                                                <h4 class="box-title">{{ object.name }}<small>{{ object.city }}</small></h4>#}
{#                                                <div class="feedback">#}
{#                                                    <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>#}
{#                                                    <span class="review">270 reviews</span>#}
{#                                                </div>#}
{#                                                <p class="description">{{ object.desc }}</p>#}
{#                                                <div class="action">#}
{#                                                    <a class="button btn-small" href="{{ object.get_absolute_url  }}">İncele</a>#}
{#                                                    <a class="button btn-small yellow popup-map" href="#" data-box="48.856614, 2.352222">VIEW ON MAP</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </article>#}
{#                                    </div>#}
{#                                    {% endfor %}#}

                                </div>
                            </div>
                            <a href="#" class="uppercase full-width button btn-large" id="loadmore">load more listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}