<!DOCTYPE html>
<html>
<body>
<h1>Eren Karabacak-Muzaffer Şenkal 12bir Online Halısaha Rezervasyon Sistemi</h1>



<p>1- We were using a  template in our project. We also used bootstrap. We changed our template for good and clean looking. We also used javascript in our template</p>
	
	<li>The link for template is :<a href="http://localhost:8000/">Link</a> </li>


<p>2- More models were defined in our project including field, reviews, shopping bag. And foreign keys were used</p>
	
	<li>account/models.py field/models.py </li>

<p>3- The dynamic pages were successfully created</p>


	

<p>4- Form API were used in reviews page. (Crispy)  </p>

	<li>The link for template is :<a href="http://localhost:8000/list/saray-halisaha/">Link</a> </li>

<p>5- We used ajax for filtering field lists  </p>

	<li>The link for template is :<a href="http://localhost:8000/list/">Link</a> </li>

<p>6- We used javascript on booking page  </p>

	<li>The link for template is :<a href="http://localhost:8000/list/saray-halisaha/">Link</a> </li>

<p>6- We did  shopping bag with restframework </p>

	<li>The link for template is :<a href="http://localhost:8000/list/saray-halisaha/">Link</a> </li>

<p> And also we define some middleware as profile,add review </p>

</body>
</html>
